<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resorts</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="">
        <%- include('common/header'); -%>
    </div>

    <main class="container mt-8 pb-4 object-fill max-w-md max-h-max bg-gray-50">
        <div class="py-4 px-4">
            <p class="blog-header-logo text-2xl">Resorts</p>
        </div>
        
        <div class="">
            <div class="py-4 px-2 max-w-sm">
                <% resorts.forEach(resort=> { %>
                    <div class="py-4 px-2 text-gray-700 font-semibold hover:bg-slate-100 transition duration-300">
                        <a href="resort/<%= resort.name %>" class="link">
                            <%= resort.formattedName %>
                        </a>
                    </div>
                    <%})%>
            </div>
        </div>
    </main>
</body>

</html>