<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import the manifest to represent the web application, required for PWA. -->
    <link rel="manifest" crossorigin="use-credentials" href="../manifest.json" /> 
    <title>Home</title>
    <script>navigator.serviceWorker.register("/serviceworker.js")</script>
</head>
<body>
    <%- include('common/header'); -%>
    
    <% resorts.forEach(resort => { %>
        <a href="resort/<%= resort.name %>" class="link"><%= resort.formattedName %></a>
    </br>
        <%})%>
</body>
</html>