<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <%- include('common/header'); -%>
    <main class="container mx-auto mt-8 px-4 pt-6 object-fill max-w-md bg-gray-50">
    
        <div class="text-center">
          <p class="blog-header-logo text-dark">Log in</p>
        </div>
    
        <div class="d-flex justify-content-center align-items-center">
          <form method="POST" action="/login">
            <div class="form-group mb-4 px-5 pt-5">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Username</label>
              <input
                type="text"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="username"
                name="username"
                placeholder="Enter Username"/>
        
              <% if (errors['username']) { %>
              <p style="color: red"><%= errors['username'].message %></p>
              <% } %>
            </div>
    
            <div class="form-group mb-4 px-5 pt-5">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Password</label>
              <input 
                type="password"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                name="password"
                placeholder = "Password"/>
              <% if (errors['password']) { %>
              <p style="color: red"><%= errors['password'].message %></p>
              <% } %>
            </div>
            <div class="pb-4 px-5 pt-5 flex justify-center">
              <button type="submit" class="py-4 px-5 text-white border-b-4 font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">Log in</button>
            </div>
          </form>
        </div>
    
    </main>
    
</body>
</html>