<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My account</title>
</head>
<body>
    <%- include('common/header'); -%>
    <div class="form-group">
        <label for="username">username</label>
        <input
          type="username"
          class="form-control"
          id="username"
          name="username"
          value="<%= user.username %>"
          placeholder="Username..."/>
    </div>
    <div class="form-group">
        <label for="name">name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="<%= user.name %>"
          placeholder="Username..."/>
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          value="<%= user.email %>"
          placeholder="Email..."/>
    </div>
    

    <button>Save changes</button>
    <button>Delete my account</button>

</body>
</html>