<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= resortDetails.name %> </p>
    <p> Temperature: <%= (weatherData.main.temp-273).toFixed(2)%>  </p> 
    <p> Type: <%= weatherData.weather[0].description%>  </p> 
    <p> Wind Speed (m/s): <%= weatherData.wind.speed%>  </p> 
</body>
</html>
