<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/scripts/search.js"></script>

    <title>Resort</title>
</head>
<body>
    <%- include('common/header'); -%>

    <a href="#"  onclick="handleSave('<%= resortDetails.id %>')" class="link">Save</a>

    <h2><%= resortDetails.formattedName %></h2>
    <p>The current weather is:</p>
    <p>API request here</p>

    <p>The previous two weeks of weather:</p>

    <p>Our Algorithm predicts the best 6 week window start from: <%= resortDetails.bestWeekWindow %></p>
    

  
</body>
</html>