<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="scripts/search.js"></script>
    

    <title>Saved</title>
</head>
<body>
    <%- include('common/header'); -%>

    <main class="container flex mt-8 pb-4 object-fill">
        <div class="container mt-8 pb-4 object-fill max-w-xs max-h-max bg-gray-50">

            <div class=" py-4 px-4">
                <p class="blog-header-logo text-2xl">Saved Resorts</p>
            </div>

        <div class="py-2 px-2 max-w-sm">
            <% const saveMenu = true %>
            <% const savedResorts = resorts  %>
            <% savedResorts.forEach(resort => { %>
            <div class="py-2">    
                <div>
                    <p class=" text-lg py-1 font-bold underline decoration-1"><%= resort.formattedName %></p>
                </div>
                <div>
                    <a href="/resort/<%= resort.name %>" class="btn btn-primary px-1 text-white font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300"> Go to resort </a>
                </div>
                <div>
                    <a href="/saved/unsave/<%= resort.id %>" class="btn btn-primary px-1 text-white font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">Unsave</a> 
                </div>
            </div>                       
            <% } )%>
        </div>
        
      </main>
    
</body>
</html>