<!DOCTYPE html>
<html>

<body>
  <header>

    <div>
      <nav class="bg-slate-500 shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
          <div class="flex justify-between">
            <div class="flex space-x-8">
              <div>
                <a href="/" class="flex py-3 px-2">
                  <span class="font-semibold text-white text-lg">Snowcore</span>
                </a>
              </div>
              <div class="hidden md:flex items-center space-x-1">
                <!-- <a href="/"
                  class="py-4 px-2 text-white border-b-4 font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">
                  Home</a> -->
                <a href="/"
                  class="py-4 px-2 text-white border-b-4 font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">
                  Resorts</a>
                <!-- <a href="/contact"
                  class="py-4 px-2 text-white border-b-4 font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">
                  Contact Us</a> -->
              </div>
            </div>

            <div class="navbar">
              <div class="hidden md:flex items-center space-x-3">

                <% if(user) { %>
                  <a href="/saved"
                    class="py-4 px-2 text-white border-b-4 font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">
                    Saved</a>

                  <a href="/logout"
                    class="py-4 px-2 text-white border-b-4 font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">
                    <%= user.username %> (Logout)
                  </a>

                  <a href="/users/editUser/<%= user.id %>"
                    class="py-4 px-2 text-white border-b-4 font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">
                    Account Settings</a>
                <% }%>

                <% if(!user) { %>
                      <a href="/login"
                        class="py-4 px-2 text-white border-b-4 font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">
                        Login </a>

                      <a class="py-4 px-2 text-white border-b-4 font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300"
                        href="/signup"> Register </a>
                <% } %>
  
                <% if((user && user.level!==1)) { %>
                          <a href="/adminPage"
                            class="py-4 px-2 text-white border-b-4 font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">
                            Admin Controls</a>
                <% } %>
                            
              </div>
            </div>

            <div class="md:hidden flex items-center">
              <button class="outline-none mobile-menu-button" onclick="showMobileMenu()">
                <svg class=" w-6 h-6 text-white bg-slate-500 " x-show="!showMenu" fill="none" strokeLinecap="round"
                  strokeLinejoin="round" strokeWidth="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <div class="hidden mobile-menu" id="hiddenMenu">
          <ul class="">
            <li>
              <a href="/"
                class="active block text-sm px-2 py-4 text-white bg-slate-500 hover:bg-slate-300 hover:text-gray-600 transition duration-300 font-semibold">
                Resorts</a>
            </li>
            <% if(user) { %>
              <li><a href="/saved"
                class="active block text-sm px-2 py-4 text-white bg-slate-500 hover:bg-slate-300 hover:text-gray-600 transition duration-300 font-semibold">
                Saved</a></li>
              <li><a href="/logout"
                class="active block text-sm px-2 py-4 text-white bg-slate-500 hover:bg-slate-300 hover:text-gray-600 transition duration-300 font-semibold">
                <%= user.username %> (Logout)</a></li>

              <li><a href="/users/editUser/<%= user.id %>"
                class="active block text-sm px-2 py-4 text-white bg-slate-500 hover:bg-slate-300 hover:text-gray-600 transition duration-300 font-semibold">
                Account Settings</a></li>
                            
            <% }%>

            <% if(!user) { %>
              <li><a href="/login"
                    class="active block text-sm px-2 py-4 text-white bg-slate-500 hover:bg-slate-300 hover:text-gray-600 transition duration-300 font-semibold">
                    Login </a></li>
                <li><a href="/signup" class="active block text-sm px-2 py-4 text-white bg-slate-500 hover:bg-slate-300 hover:text-gray-600 transition duration-300 font-semibold">
                    Register </a></li>
                  
            <% } %>

            <% if((user && user.level!==1)) { %>
              <li><a href="/adminPage"
                  class="active block text-sm px-2 py-4 text-white bg-slate-500 hover:bg-slate-300 hover:text-gray-600 transition duration-300 font-semibold">
                  Admin Controls</a></li>
                
            <% } %>
          </ul>
        </div>
      </nav>
    </div>


  </header>

</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
function showMobileMenu() {
  var element = document.getElementById("hiddenMenu");
  element.classList.toggle("hidden");
}
</script>

<script>
  $(document).ready(function () {
    $('.navbar a[href="' + window.location.pathname + '"]', this).parent().addClass('active').siblings().removeClass('active');
  }); 
</script>