<!DOCTYPE html>
<html>
<style>
ul {
  list-style-type: none;
  margin-bottom: 2px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li{
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li:not(.active):hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
</style>
<body>
  <header>
    <ul class = "navbar">
     <li><a href="/"> Resorts </a></li> 
      <% if(user) { %>
      <li><a href="/logout"> <%= user.username %> (Logout)</a></li>
      <li><a href="/saved"> Saved</a></li>
      <li><a href="/myAccount"> Account settings</a></li>
      <% if(!(user.level == "U")) { %><li><a href="/adminPage"> Admin controls</a></li><% } %>
      <%
      }%> <% if(!user) { %>
      <li><a href="/login"> Login </a></li>
      <li><a class="nav-link" href="/signup"> Register </a></li>
      <% } %>
    </ul>
  </header>

</body>
</html>

<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
</script>

<script>
  $(document).ready(function () {
    $('.navbar a[href="' + window.location.pathname + '"]', this).parent().addClass('active').siblings().removeClass('active');
  }); 
</script>